﻿@model ToDoApp.Models.ToDo
@{
    ViewData["Title"] = "Create";
}

<h1>Add Your Task</h1>
<hr>

<div class="row">
    <div class="col-lg-8 offset-2">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="ScheduledTime" class="control-label"></label>
                <input asp-for="ScheduledTime" class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}