﻿@model ToDoApp.Models.ToDo

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Search" method="post">
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />

            </div>
            <div class="form-group">
                <input class="btn btn-warning" type="submit" value="Search">
            </div>
        </form>
    </div>
   
</div>
